@{
    ViewData["Title"] = "Contact";
}
<h2>@ViewData["Title"]</h2>

<p>In this section you will find usefull contact information in order to contact support</p>

<address>
    <strong>Support:</strong> <a href="mailto:tiagotorres14516@gmail.com">TiagoTorres14516@gmail.com</a><br />
</address>
