@model AutoShop.Web.Models.Role.CreateViewModel

@{ ViewData["Title"] = "Create Role"; }

<h2>Create Role</h2>

<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div class="text-success">
                @ViewBag.Message
            </div>
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Role" class="control-label"></label>
                <input asp-for="Role" class="form-control" />
                <span asp-validation-for="Role" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-default" />
            </div>
        </form>
    </div>
</div>
